<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFServiceSOA" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64973/WCFServiceSOA.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFServiceSOA"
                contract="WCFServiceSOA.IWCFServiceSOA" name="BasicHttpBinding_IWCFServiceSOA" />
        </client>
    </system.serviceModel>
</configuration>